
<%- include('partials/header.ejs')  %>





<div class="video-background-holder" style="min-height: 35rem;">
        <div class="video-background-overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="assets/img/3d.mp4" type="video/mp4">
            </video>
          <div class="video-background-content container h-100">
        <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
        <img src="assets/img/logo.png" style="width: 175px; padding-top: 35px;">
    <h1 class="display-4" style="padding-top: 18px; color: #fff; font-size: 3rem;">Welcome To Super FabLab</h1>
    <p class="lead mb-0" style="font-family: bell; color: #fff;">Inspire the future of learning and creating. Provide digital design tools to ignite a culture of innovation.</p><br>
     <a href="user" class="joinbtn" style="color: #fff;">Join Us Today!</a>
  </div>
</div>
</div>
</div><br>

<div class="about-us" style="text-align: center; margin-top: 2rem;">
<div>
    <header>
        <h1 style="font-size: 2.8rem;"><b>About Us</b></h1>
    </header>
</div>
<div class="about-us">
    <div class="row no-gutters" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 2.5rem 0; margin-right: 3rem; margin-left: 3rem; border-radius: 40px;">
        <div class="col-md-4">
            <div class="img" style="background-size: cover;">
                <img src="assets/img/logo.png" alt="logo" style="height: 260px; padding-top: 3rem; ">
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 style=" font-size: 1.5rem; text-align: center;">Vision</h4>
                <p style="color: black; text-align: center;  font-size: 1.2rem;">“Inspire the future of learning and creating”</p>
                <h4 style=" font-size: 1.5rem; text-align: center;">Mission</h4>
                <p style="color: black; text-align: center; font-size: 1.2rem;">“Provide digital design tools to ignite a culture of innovation”</p>
                <hr>
                <h6 class="text-muted mb-2 ml-2" style="text-align: center; font-size: 1rem; color: black; font-family: bell;">The Bhutan Super FabLab is an open platform for learning and innovation; a place to play, learn, mentor, collaborate, and create.Located at Thimphu Tech Park, it is the 2nd Super Fab Lab in the world, providing unique digital fabrication tools and services to its community.It currently consists of four different labs - focused on metalwork, carpentry, electronics production, and industrial graded work.Join us in our journey to learn and create almost anything.</h6>
            </div>
        </div>
    </div>
</div>
</div>
<div class="Learn" style="text-align: center; margin:2.6rem 0;">
    <div>
        <header>
            <h1 style="color: #f7dc49; font-size: 2.8rem;"><b>Learn</b></h1>
            <h4 style="margin-top: -8px;">To Make Almost Anything</h4>
        </header>
    </div>
</div>
<div class="main" >
  
    <ul class="cards">
      <li class="cards_item">
        <div class="card" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="150" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
          <div class="card_image"><img src="assets/img/printer1.jpg" height="250px" width="auto" style="border-radius: 2rem;"></div>
          <div class="card_content">
            <h2 class="card_title">Education</h2>
            <hr>
            <p class="card_text" >Education programs are developed to equip the next generation with the necessary skills and knowledge in the field of technology and digital fabrication.<br>
                Here are some of our programs: <br>
                <ul style="font-family: bell; font-size: 1rem; color: gray;">
                    <li>STEM program</li>
                    <li>Fab academy ( 2023 onwards)</li>
                    <li>Machining program</li>
                
                    <li>Internship programs</li>
                </ul>
                </p><br><br><br><br>

                <a href="program" class="joinbtn">Read more</a>
          </div>
        </div>
      </li>
      <li class="cards_item" >
        <div class="card" data-aos="zoom-in" data-aos-duration="900" data-aos-delay="250" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
          <div class="card_image"><img src="assets/img/laser.jpg"height="250px" width="auto"style="border-radius: 2rem;" ></div>
          <div class="card_content">
            <h2 class="card_title">Professional Development</h2>
            <hr>
            <p class="card_text">SFL will offer trainings, workshops, and seminars, all focused on professional development, and building the skills and capacity for digital designing and fabrication. <br>
                Here are some of the training:<br>
                <ul style="font-family: bell; font-size: 1rem; color: gray;">
                
                <li>How to design for and use the machine</li>
                <li> Design thinking and product design</li>
                <li> Workshops, seminars, and tech talks</li>
                </ul>
                
                
  </p>
  <br><br><br><br>
  <a href="trainingprogram" class="joinbtn">Read more</a>

          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card" data-aos="zoom-in" data-aos-duration="1200" data-aos-delay="300" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
          <div class="card_image"><img src="assets/img/molding.jpg" height="250px" width="auto" style="border-radius: 2rem;"></div>
          <div class="card_content">
            <h2 class="card_title">Research And Collaboration</h2>
            <hr>
            <p class="card_text">There is a huge potential for enabling research through the SFL platform. 
                The lab currently enables innovation, invention, and prototyping. To foster a culture of 
                learning, applicable and sustainable in-house research is encouraged. 
                SFL is also open to collaborations with like-minded organizations and individuals.
                <ul style="font-family: bell; font-size: 1rem;color: gray;">
                    <li>In-house ventures</li>
                    <li>EV project</li>
                    <li>Drone development project</li>
                    <li>Start-ups incubations</li>
                    <li>Collaboration with universities and institutes.</li>
                </ul>     </p>
                <a href="research" class="joinbtn">Read more</a>

          </div>
        </div>
      </li>
      
      
    </ul>
  </div>
  


    <div class="Learn" style="text-align: center; margin:2.6rem 0;">
        <div>
            <header>
            <h1 style="color: #f17b59; font-size: 2.8rem;"><b>Create</b></h1>
            <h4 style="margin-top: -8px;">Through Digital Tools And Open Community Ecosystem</h4>
        </header>
        </div>
    </div>
        <div class="container" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 2rem 0; border-radius: 40px;">
        <section>
        <div id="w_shop_105" class="carousel slide w_shop_105_indicators w_shop_105_control_button thumb_scroll_x swipe_x ps_easeOutInCubic" data-duration="2000" data-bs-ride="carousel" data-bs-pause="hover" data-bs-interval="8000">

        <ol class="carousel-indicators">
            <li class="active" style="filter: blur(0px);" data-bs-target="#w_shop_105" data-bs-slide-to="0"></li>
            <li data-bs-target="#w_shop_105" data-bs-slide-to="1"></li>
            <li data-bs-target="#w_shop_105" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active"><img src="assets/img/shopbot.jpg" alt="w_shop_105_01" style="height: 350px; width: 300px;">
                <div class="w_shop_105_left_box"><span data-animation="animated fadeInLeft" style="font-family: bell;">Carpentry Lab</span>
                    <h1 class="left-h"style="padding-right:250px" data-animation="animated fadeInLeft">ShopBot</h1>
                    <p data-animation="animated fadeInLeft" style="font-family: bell; font-size: 14px;">Uses advanced technology of CNC cutting, drilling, carving and machining. It has full production performance in the digital fabrication of wood, plastic, aluminum and other materials.</p><a href="machine" class="joinbtn"  style="font-family: bell;">Read more</a>
                </div>
                <div class="w_shop_105_right_box" data-animation="animated fadeInRight">
                    <ul>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Step resolution of 0.010mm</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Linear cutting force of</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">XY Move Speed(with full </li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">max .15.2 m/min</li>
                        <!-- <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Validation </li> -->
                    </ul>
                </div>
            </div>
            <div class="carousel-item"><img src="assets/img/tro.jpg" alt="w_shop_105_02" style="height: 350px; width: 300px;">
                <div class="w_shop_105_left_box"><span data-animation="animated fadeInLeft" style="font-family: bell;">Metal work Lab</span>
                    <h1 class="left-h" data-animation="animated fadeInLeft" style="margin-left:-100px">Laser cutter Speedy 100</h1>
                    <p data-animation="animated fadeInLeft" style="font-family: bell; font-size: 14px;">
                        Speedy 100 only has a CO2 laser source but also allows you to work with a wide variety of materials
                        Can work with wide variety of materials like acrylic, glass, fabric, papers, stones and woods.
                        </p><a href="metal" class="joinbtn"  style="font-family: bell;">Read more</a>
                </div>
                <div class="w_shop_105_right_box" data-animation="animated fadeInRight">
                    <ul>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Overall dimensions (W x D1 x H)<br>:1428 x 952 x 1050 mm</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Max. height of workpiece 305 mm<br>with CO2 and 283 mm with fibre</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Laser power: CO2 : 60 - 250 watts<br> Fiber: 20 - 50 watts</li>
                    </ul>
                </div>
            </div>
            <div class="carousel-item"><img src="assets/img/mechantronika.jpg" alt="w_shop_105_03" style="height: 350px; width: 300px;">
                <div class="w_shop_105_left_box"><span data-animation="animated fadeInLeft" style="font-family: bell;">Electronic Lab</span>
                    <h1 class="left-h" data-animation="animated fadeInLeft" style="margin-left: -20px;">Mechatronika M10 Pick and Place </h1>
                    <p data-animation="animated fadeInLeft" style="font-family: bell; font-size: 14px;">The G3 Cutter is a precision machine. From the innovative drive system to the blade, all components are perfectly coordinated. </p><a href="electronic" class="joinbtn"  style="font-family: bell;">Read more</a>
                </div>
                <div class="w_shop_105_right_box" data-animation="animated fadeInRight">
                    <ul>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Vision centering  </li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Fully automated placing</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Solder paste dispensing head</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;">Automatic change of nozzles</li>
                        <li data-animation="animated fadeInRight" style="font-family: bell; font-size: 16px;"> Automatic fiducials correction<br>and bad mark sensing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section></div>
        </div><br>

        <div class="Learn" style="text-align: center; margin:2.6rem 0;">
            <div>
                <header>
                    <h1 style="color: #3b70b4; font-size: 2.8rem;"><b>Collaborate</b></h1>
                     <h4 style="margin-top: -8px;">In An Innovative Space</h4>
                </header>
            </div>
        </div>
     <section><div class="container"><figure class="snip1563" style="border-radius: 20px; /*padding-right: 30px; */margin-right: 50px; height: 60%; width: 700px;"><img src="assets/img/b3.jpg" alt="sample110" />
     <figcaption>
<h4> Work with us as a Volunteer</h4>
    <p style="color: #fff;">Get a chance to become a part of SFL and get work experience.It's an opportunity to get free access to the facilities provided by SFL. </p>
</figcaption>
<a href="#"></a>
</figure>

<figure class="snip1563" style="border-radius: 30px; /*padding-right: 20px; */margin-right: 58px; height: 60%; width: 700px;">
    <img src="assets/img/b5.jpg" alt="sample110" />
<figcaption>
<h4>Apply for Internships </h4>
    <p style="color: #fff;">SFL is a great place to learn and get exposure.You will be able to do research and projects with our staff and even our collaborators.</p>
</figcaption>
<a href="#"></a>
</figure>
   
<figure class="snip1563" style="border-radius: 20px; /*padding-right: 30px; */margin-right: 30px; background-color: #f7dc49;"><img src="assets/img/sensor.jpg" alt="sample59" />
 <figcaption>
<h4>Become a Member </h4>
    <p style="color: #fff;">We have great membership plans :<br>
    SFL Youth<br>
    SFL Community<br>
    SFL creator<br>
    SFl Business</p>
</figcaption>
<a href="register"></a>
</figure></div></section><br><br>

<div class="container">
    <h1 style="text-align: center;padding: 10px;margin: 6px; font-size: 2.8rem;"><b>Visit Us!!!</b></h1>
    </div>

    <section class="features-boxed" style="color: #fff;">
    <div class="container">
        <div class="intro"></div>
        <div class="row justify-content-center features"  style="color: #fff;background: #fff;padding: 23px 0px;">
            <div class="col-sm-9 col-md-8 col-lg-7 item"  style="box-shadow: 0px 0px 3px 5px;">
                <div class="box" data-bss-hover-animate="pulse"   style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;"><i class="fa fa-clock-o icon"></i>
                    <h3 class="name" style="color: black;font-family: bell; font-size: 2rem;">When</h3>
                    <p class="description" style="color: grey; font-size: 1.1rem;">Monday to Friday: 9:00 AM -6:00 PM<br>Saturday and Sunday:<br> Open hours you can walk in anytime for a lab visit. You can also book a schedule  to use a specific machine at a suitable time.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <h1 style="text-align: center;padding: 18px;margin: 6px; font-size:2.8rem;"><b>News And Events</b></h1>
</div>

<div class="header-container" style="background-image:url(assets/img/see.jpg);padding-top:100px;padding-bottom:5rem; ">
        <div class="container">
            <div class="col-md-6 offset-md-3 header-title">
                <h1 class="text-center" style="color: #ffffff;font-family: bell; font-size: 2rem;">Covid 19 Protocol</h1>
                <p style="font-family: bell; text-align: center; color: #ffffff;">New covid varient omicron is coming to bhutan and we people should be warned.</p><a href="announ" class="joinbtn" style="margin-left: 40%; color: #fff;">Update more</a>
            </div>
        </div>
    </div>
    <%- include('partials/footer.ejs')  %>
</body>

</html>